{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section class="article-content">
	<article>
		<header>
		  <h2 class="entry-title">
			<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
			   title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
		</header>
		<footer class="post-info-article">
		  <abbr class="published" title="{{ article.date.isoformat() }}">
			{{ article.locale_date }}
		  </abbr>
		  {% if article.author %}
		  <address class="vcard author">
			By <a class="authorurl" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
		  {% import 'translations.html' as translations with context %}
		  {{ translations.translations_for(article) }}
		  </address>
		  {% endif %}
		  {% if article.tags %}
		  <span>Tags: </span>
			{% for tag in article.tags %}
				<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
			{% endfor %}
		  {% endif %}
		</footer><!-- /.post-info-article -->
		<div class="entry-content">
		  {{ article.content }}
		</div><!-- /.entry-content -->
	</article>

	<!-- for this is needed the neighbors plugin 
	https://github.com/getpelican/pelican-plugins/tree/master/neighbors
	-->
	<div id="pager">
	{% if article.prev_article %}
		<div class="previous">
			<h4><a href="{{ SITEURL }}/{{ article.prev_article.url }}">&larr;
				{{ article.prev_article.title }}
			</a></h4>
		</div>
	{% endif %}
	{% if article.next_article %}
		<div class="next">
			<h4><a href="{{ SITEURL }}/{{ article.next_article.url }}">
				{{ article.next_article.title }}&rarr;
			</a></h4>
		</div>
	{% endif %}
	</div><!-- /#pager-->

	{% if DISQUS_SITENAME %}
	<div class="comments">
	  <h3>Comments</h3>
	  <div id="disqus_thread"></div>
	  <script type="text/javascript">
		var disqus_identifier = "{{ article.url }}";
		(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	  </script>
	</div>
	{% endif %}

</section><!-- /.article-content -->
{% include 'footer.html' %}
{% endblock %}
