<a class="twitter-timeline" data-dnt="true" data-theme="dark" 
  href="https://twitter.com/{{ TWITTER_USERNAME }}"  data-widget-id="{{ TWITTER_WIDGET_ID }}" 
  data-chrome="noborders transparent noheader nofooter">Tweets by @{{ TWITTER_USERNAME }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
